:root {
    --main: #000;
    --font: #fff;
    --fonth: #999;
    --topbar: 80px;
    --topm: 25px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    color: var(--font);
    font-family: 'Montserrat';
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar { 
    display: none;
}

body {
    background-color: black;
}

.navigation {
    position: sticky;
    width: 70vw;
    height: var(--topbar);
    margin: auto;
    margin-top: var(--topm);
    display: flex;
    animation: 500ms ease-out 0s 1 FadeIn;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(1px);
    z-index: 2;
    max-width: 768px;
    border-bottom: 1px solid white;
}

a, a:visited, a:active {
    text-decoration: none;
    color: var(--font);
    transition: 250ms;
    padding: 5px;
    font-size: 1.2em;
}

a:hover {
    font-size: 1.4em;
    color: var(--fonth);
    cursor: pointer;
}

a.noclick {
    pointer-events: none;
    color: var(--fonth);
}

.content {
    overflow: hidden;
    padding-top: calc(var(--topm) * 2 + var(--topbar));
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.contentFrame {
    width: inherit;
    height: inherit;
}

.contentCover {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: black;
    transition: 250ms;
    opacity: 0%;
    pointer-events: none;
}

.visible {
    opacity: 100%;
    pointer-events: auto;
}

.article {
    padding: 50px;
    animation: 500ms ease-out 0s 1 FadeIn;
}

.centered {
    text-align: center;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}