* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    color: #fff;
    font-family: 'firacode';
    -ms-overflow-style: none;
    scrollbar-width: none;
    line-height: 1.5em;
    -webkit-text-size-adjust: 100%;
}

*::-webkit-scrollbar { 
    display: none;
}

.site {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    overflow: scroll;
}

.navi {
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    padding: 1em;
    z-index: 3;
    background: black;
    border-bottom-right-radius: 5px;
}

.socialink {
    line-height: 3em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.current {
    color: gray;
}

a.current:hover {
    text-decoration: none;
    cursor: default;
}

.linkicon {
    width: 2em;
    vertical-align: middle;
}

.title {
    font-weight: bold;
    font-size: 1.5em;
}

.tool-title {
    text-decoration: underline;
}

.desc {
    font-weight: bold;
    padding-top: 1em;
    font-size: 1em;
    max-width: 50vw;
}

.desc.mobile {
    max-width: 90vw;
}

.tool-item {
    padding-top: 2em;
}

h1.mobile {
    font-size: 1.5em;
}

h3 {
    color: gray;
}

h3.mobile {
    font-size: 0.7em;
    height: fit-content;
    text-overflow: clip;
}

.copyright {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright.stuck {
    position: relative;
    bottom: auto;
    width: 100vw;
}

.copyrightLabel {
    padding: 1em;
    font-size: 0.8em;
    color: #fff;
    width: fit-content;
    font-weight: bold;
    text-shadow: #000000 1px 1px 1px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 1em;
}

textarea {
    background: inherit;
    border-radius: 5px;
    border: 2px solid white;
}

/* Grid Views */

.gridType {
    padding-top: 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: black;
    text-align: center;
    padding-bottom: 5em;
}

.gridTitle, .gridSubtitle {
    width: 100vw;
}

.gridBigPhoto {
    width: calc(75vw + 4em);
    margin: 1em;
    border-radius: 5px;
}

.gridBigPhoto.mobile {
    width: calc(80vw + 1em);
    margin: 0.5em;
}

.gridItem {
    position: relative;
    width: 25vw;
    height: 25vw;
    margin: 1em;
}

.gridItem.mobile {
    width: 40vw;
    height: 40vw;
    margin: 0.5em;
}

.gridItemWide {
    position: relative;
    width: 40vw;
    height: calc(20vw + 4em);
    margin: 1em;
}

.gridItemWide.mobile {
    width: 80vw;
    height: calc(40vw + 8em);
    margin: 0.5em;
}

.gridImage {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gridImageWide {
    display: block;
    border-radius: 5px;
    width: 40vw;
    height: 20vw;
    object-fit: cover;
}

.gridImageWide.mobile {
    width: 80vw;
    height: 40vw;
}

.gridLabel {
    position: absolute;
    overflow: wrap;
    right: 1em;
    left: 1em;
    bottom: 1em;
    width: fit-content;
    padding: 0.5em 2em 0.5em 2em;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 1em;
    margin: auto;
}

.gridDesc {
    display: block;
    padding-top: 1em;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}