* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    color: #fff;
    font-family: 'firacode';
    -ms-overflow-style: none;
    scrollbar-width: none;
    line-height: 1.5em;
}

*::-webkit-scrollbar { 
    display: none;
}

body {
    background-color: black;
    overflow: scroll;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.navi {
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    padding: 1em;
    z-index: 2;
}

.socialink {
    line-height: 3em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.current {
    color: gray;
}

a.current:hover {
    text-decoration: none;
    cursor: default;
}

.linkicon {
    width: 2em;
    vertical-align: middle;
}

.desc {
    padding-top: 2em;
    font-size: 0.9em;
    max-width: 46em;
}

h3 {
    color: gray;
}

.copyright {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyrightLabel {
    padding: 1em;
    font-size: 0.8em;
    color: #444;
    width: fit-content;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}