* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    transition: 0.2s;
    box-sizing: border-box;
    background: #000000;
    z-index: 1;
    color: #ffffff;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background: #000000 no-repeat center center fixed; 
    background-size: cover;
}

.underHeader {
    top: 0;
    overflow: none;
    background-color: #000000;
    height: 50px;
    user-select: none;
}

.websiteHeader,
.websiteFooter {
    width: 100vw;
    position: fixed;
    top: 0;
    overflow: none;
    background-color: #000000;
    height: 50px;
    user-select: none;
    border-bottom: 1px solid #ffffff;
}

.websiteFooter {
    border-top: 1px solid #ffffff;
    border-bottom: 0;
    top: auto;
    bottom: 0;
}

.websiteLogo {
    height: 40px;
    margin: 5px;
}

.footerText {
    position: absolute;
    left: 0;
    margin-left: 5px;
    line-height: 50px;
    vertical-align: top;
}

.websiteAnchor,
.websiteAnchor:link,
.websiteAnchor:visited {
    color: #ffffff;
    margin: 5px;
    line-height: 50px;
    vertical-align: top;
    text-decoration: none;
}

.websiteAnchor:hover,
.websiteAnchor:active,
.websiteAnchor:focus {
    filter: brightness(70%);
}

.highlightedLink {
    filter: brightness(70%);
    pointer-events: none;
}

/* Above Content */

.websiteContent {
    backdrop-filter: blur(3px);
    display: flex;
    text-align: center;
    padding: 50px 0 50px 0;
    min-height: calc(100vh - 100px);
    background: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Below Content */

.websiteFooter {
    text-align: right;
}

/* Other */

.iosAppRound {
    border-radius: 0;
    -webkit-mask-image: url(./Icons/ios-mask.svg);
    -webkit-mask-size: cover;
    mask-image: url(./Icons/ios-mask.svg);
    mask-size: cover;
    border: 1px solid rgba(127.5, 127.5, 127.5);
}