:root {
    --text-color: #ffffff;
    --back-color: #101010;
}

body {
    padding: 0;
    margin: 0;
}

body * {
    font-family: inherit;
}

.navbar {
    background: var(--back-color);
}

.navbar * {
    color: white;
}

.nav-link {
    transition: 0.2s;
}

.nav-link:hover {
    color: var(--text-color);
    filter: brightness(60%);
}

.header {
    background-color: rgb(255, 255, 255);
    background-image: url(../Images/twilight845.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 25px 10px -20px rgba(0, 0, 0, 0.8) inset,
        0px -25px 10px -20px rgba(0, 0, 0, 0.8) inset;
    -webkit-box-shadow: 0px 25px 10px -20px rgba(0, 0, 0, 0.8) inset,
        0px -25px 10px -20px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0px 25px 10px -20px rgba(0, 0, 0, 0.8) inset,
        0px -25px 10px -20px rgba(0, 0, 0, 0.8) inset;
}

.description {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
}

.description * {
    color: var(--text-color);
}

.description a {
    text-decoration: underline;
}

.description p {
    font-size: 1.3rem;
    line-height: 1.5;
}

.page-footer {
    background-color: var(--back-color);
    padding: 60px 0 60px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }

    .description h1 {
        font-size: 2em;
    }

    .description p {
        font-size: 1.2rem;
    }

    .features {
        margin: 0;
    }
}