* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: firacode;
    text-align: center;
    color: white;
    overflow: hidden;
    user-select: none;
}

body {
    background-color: black;
}

table {
    margin: auto;
    vertical-align: center;
}

td {
    text-shadow: 0px 0px 5px black;
    position: relative;
    width: 70px;
    height: 70px;
    opacity: 30%;
}

td.have {
    opacity: 100%;
}

td:not(:empty) {
    cursor: pointer;
    transition: 0.2s;
    text-transform: capitalize;
    border: 1px solid black;
}

td:not(:empty):hover {
    opacity: 100%;
    filter: brightness(130%);
    border: 1px solid gray;
}

td.impossible * {
    color: #ff4d4d;
}

td.impossible {
    cursor: no-drop;
}

/* Atomic Container */
.acon { 
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1 / 1;
}

/* Atomic Symbol */
.asym {
    grid-area: 1 / 1;
    margin: auto;
    font-size: 1.4em;
    font-weight: bold;
}

/* Atomic Number */
.anum {
    grid-area: 1 / 1;
    text-align: left;
    font-size: 0.6em;
    margin: 2px;
}

/* Atomic Name */
.aname {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2;
    grid-area: 1 / 1;
    font-size: 0.6em;
}

.squish {
    transform: scaleX(0.9);
}

/* Just some coloring stuff for elements based on their type */

.amet {
    background-color: #6c3b01;
}

.aemet {
    background-color: #846011;
}

.lan {
    background-color: #402c17;
}

.act {
    background-color: #732e4c;
}

.tmet {
    background-color: #711019;
}

.ptmet {
    background-color: #003666;
}

.metld {
    background-color: #015146;
}

.rnmet {
    background-color: #3e6418;
}

.ngas {
    background-color: #3a2151;
}

.unkn {
    background-color: #111111;
}